{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if request.user.is_staff %}
<div class="categorize-container grid-container-categ">
    <div class="research-categ-container grid-item-categ">
        <form action="/categorize/search-categorie" method="post">
            <input type="text" size="18" name="ppac" id="ppac" placeholder="Numéro PPAC">
            <input type="text" size="25" name="objet-categorie" id="objet-categorie" placeholder="Objet">
            <input type="text" size="28" name="description-categorie" id="description-categorie"
                placeholder="Description">

            <button id="search-categ" type="submit" style="width: fit-content;">Chercher</button>
        </form>
    </div>
    <div class="research-norme-container grid-item-categ">
        <form action="/categorize/search-norme" method="post">
            <input type="text" size="20" name="fondement" id="fondement" placeholder="Fondement">
            <input type="text" size="30" name="texte-descriptif" id="texte-descriptif" placeholder="Texte descriptif">
            <input type="date" name="start-date" id="start-date" placeholder="Date debut">
            <input type="date" name="end-date" id="end-date" placeholder="Date fin">

            <button id="search-norme" type="submit" style="width: fit-content;">Chercher</button>
        </form>
    </div>
    <div class="categ-container grid-item-categ">
        <div class="categories-title">

            <h1>Catégories</h1>
            <img src="../static/add_circle-24px.svg" alt="Créer une catégories" title="Créer une catégories">
        </div>
        <div id="categories-ul">
            {% for index, nppac, description, objet, normes_fondements in categories %}
            <!-- onclick="document.getElementById('myModal').style.display = 'block'" -->
            <div class="categorie-item-{{index}}">
                <span title="Nppac" class="categorie-info-{{index}}">{{nppac|slice:":10"}}</span>
                <span title="Description" class="categorie-info-{{index}}">{{description|slice:":15"}}</span>
                <span title="Objet" class="categorie-info-{{index}}">{{objet|slice:":15"}}</span>
                <!-- Model popup window -->
                <div id="myModal-{{index}}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close-{{index}}">&times;</span>
                        <h2>Nppac</h2>
                        <p>{{nppac}}</p>
                        <h2>Description</h2>
                        <p>{{description}}</p>
                        <h2>Objet</h2>
                        <p>{{objet}}</p>
                        {% for norme_fondement in normes_fondements %}
                        <span
                            style="margin-right: 3px; color: white; background-color: black;">{{norme_fondement}}</span>
                        {% empty %}
                        <p style="color: brown;">Aucune norme associée est trouvée</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% empty %}
            <p style="color: brown;">Aucune catégorie trouvée</p>
            {% endfor %}

        </div>
    </div>
    <div class="norme-container grid-item-categ">
        <div class="normes-title">

            <h1>Normes</h1>
            <img src="../static/add_circle-24px.svg" alt="Créer une norme" title="Créer une norme">
        </div>
        <div id="normes-ul">

            {% for index, fondement, texte_norme, date_debut, date_fin in normes %}
            <!-- onclick="document.getElementById('myModal').style.display = 'block'" -->
            <div class="norme-item-{{index}}">
                <span title="Fondement" class="norme-info-{{index}}">{{fondement|slice:":10"}}</span>
                <span title="Texte de norme" class="norme-info-{{index}}">{{texte_norme|slice:":15"}}</span>
                <span title="Date de début" class="norme-info-{{index}}">{{date_debut}}</span>
                <span title="Date de fin" class="norme-info-{{index}}">{{date_fin}}</span>
                <!-- Model popup window -->
                <div id="myModalNorme-{{index}}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="closenorme-{{index}}">&times;</span>
                        <h2>Fondement</h2>
                        <p>{{fondement}}</p>
                        <h2>Texte de norme</h2>
                        <p>{{texte_norme}}</p>
                        <h2>Date de début</h2>
                        <p>{{date_debut}}</p>
                        <h2>Date de fin</h2>
                        <p>{{date_fin}}</p>

                    </div>
                </div>
            </div>
            {% empty %}
            <p style="color: brown;">Aucune norme trouvée</p>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<h1 style="color: rgb(255, 123, 0); background-color: aquamarine; height: 100%; text-align: center;">Votre
    compte
    est en
    phase de création, merci pour votre patience.</h1>
{% endif %}
{% else %}
<h1 style="color: red; background-color: aquamarine; height: 100%; text-align: center;">Merci de s'identifier
    puis
    revenir</h1>
{% endif %}

{% endblock %}
