{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if request.user.is_staff %}
<div class="categorize-container">
    <p>Mohamed</p>
    {% else %}
    <h1 style="color: rgb(255, 123, 0); background-color: aquamarine; height: 100%; text-align: center;">Votre compte
        est en
        phase de création, merci pour votre patience.</h1>
    {% endif %}
    {% else %}
    <h1 style="color: red; background-color: aquamarine; height: 100%; text-align: center;">Merci de s'identifier puis
        revenir</h1>
    {% endif %}
</div>
{% endblock %}
