@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
.grid-container {
  height: 90vh;
  /* border: 4px solid red; */
  width: 99%;
  margin: 0 auto;
  /* overflow: hidden; */
  display: grid;
  grid-template-areas:
    "tools-bar tools-bar tools-bar "
    "annotate-navigation decision-container annotation-container";
  grid-template-columns: 1fr 5fr 4fr;
  grid-template-rows: 1fr 10fr;
  gap: 1px;
}

.grid-item {
  /* place-self: space-evenly center; */
  /* align-self: stretch; */
  /* padding: 20px; */
  text-align: center;
  border: 2px solid green;
  background-color: rgb(197, 211, 214);
}

.tools-bar {
  grid-area: tools-bar;
}
.annotate-navigation {
  grid-area: annotate-navigation;
}
.decision-container {
  grid-area: decision-container;
  /* overflow-x: hidden; */
  text-overflow: ellipsis;

  /* overflow: hidden; */
}
.annotation-container {
  grid-area: annotation-container;
  overflow-x: hidden;
}

li.file-link {
  cursor: pointer;
  margin-bottom: 4px;
  padding: 0 1vh;
}

h3.navigation {
  margin-bottom: 1vh;
}

/* Specific class for the selected file name */
li.selected_file {
  font-weight: 700;
  color: green;
}

.tools-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 8fr;
  gap: 3px;
  align-items: center;
}

.tool-col {
  /* border: 1px solid rgb(72, 255, 0); */
  height: 95%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: right;
  
  overflow-y: hidden;
}

.file-ctrl-cl.tool-col {
overflow: hidden;
margin: 0 auto;
}
.text-ctrl-cl.tool-col {
overflow: hidden;
margin: 0 auto;
}

.annotation-cl.tool-col {
  margin-left: 4vh;
  height: fit-content;
}

#text-size {
  margin: 0 0.75rem;
}

button, input[submit] {
  cursor: pointer;
}

input {
  height: 1.75rem;
  /* font-size: 1.3rem; */
}

#file-contents {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(197, 211, 214);
  overflow: hidden;
}

.demande-txtareas textarea {
  font-size: 1.5rem;
  text-align: center;
}

input#text-search {
  margin-left: 2vh;
}
input#text-size {
  width: 5vh;
}

.highlighted {
  background-color: yellow;
}

.tab {
  display: flex;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  overflow-x: scroll;
  width: 99%;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
  font-size: 1.1rem;
  font-weight: 600;
}

.tab button {
  font-size: 1rem;
  border-radius: 6px;
  font-weight: 500;
}

.tab {
  background-color: #d9e7eb;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#tabs-items {
  display: flex;
  justify-content: right;
  align-items: center;
}

#tabs-items li {
  list-style: none;

}

.add-remove-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
 .cached {
   display: none;
 }

 form input, form button, form h2, form h3, form h4 {
  font-family:  "Roboto", Helvetica, Arial, sans-serif;
 }

 .infos-form-content, .form-decision{
   display: flex;
   flex-direction: column;
   justify-content: right;
   align-items: right;
   /* border: 2px solid rgb(51, 153, 51); */
  }

 .demande-txtareas{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   /* border: 2px solid rebeccapurple; */
  }
  .demande-txtareas textarea {
    margin: .5vh 0;
  }

.infos-row-1, .infos-row-3, .infos-row-4 {
   margin: .5vh 0;
   /* border:2px solid #564caf; */
  }
  .infos-row-2 {
    margin: 0 auto;
    /* border:2px solid #564caf; */
    margin-bottom: .5vh;
  }
  .infos-row-3, .infos-row-4, .infos-row-5 {
    width: 100%;
  }
  
  
  .juge, .infos-row{
    display: flex;
    align-items: center;
    /* border:2px solid #564caf; */
  justify-content: space-evenly;
  width: 100%;
  margin: .5vh 0;
 }

.infos-row-class{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  margin-bottom: 2vh;
  border: 2px solid #e91616;
 }
.infos-row-avocat{
  display: flex;
  align-items: center;
  /* border: 2px solid #4c9baf; */
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
 }

.avocat-partie, 
.resultat-container, 
.classe-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 }

.avocat-partie input, 
.resultat-container input, 
.classe-container input, 
.avocats-btns-1{
  margin-left: 2vh;
}

form input[value="accept"] {
  margin-right: 6vh;
}

form label[for^="reject"] {
  margin-left: 6vh;
}
/*.avocats-btns-1, .avocat-partie h3{
  margin-bottom: 2vh;
}*/
/* border: 2px solid #4CAF50; */
 button[type="submit"] {
  cursor: pointer;
  width: 40%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  padding: 10px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500; 
  font-size: 1.1rem; 
  margin: 0 auto;
  margin-top: .5vh;
  
  border-radius: 6px;
}

::placeholder {
  text-align: center;
  font-size: 1.19em;
  font-style: italic;
}
/* textarea::placeholder {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
} */


/* , .sexe-radios */
.person-type{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border:2px solid #19e434; */
}

div[class^="person-physique-"], div[class^="person-morale-"] {
  display: none;
}
