{% extends 'base.html' %}
{% block title %}Login{%endblock%}
{% block content %}
<div style="border: 2px solid green; background-color: #C5D3D6; margin: 0 auto;display: flex; width: 80%; height: 100%; flex-direction: column; justify-content: space-around; align-items: center; margin-top: 4vh;"
    class="register-container">
    <h1 style="margin-bottom: 2vh;">Login</h1>
    <form method="post">
        {%csrf_token%}
        {% for form_field in form %}
        <div class="login-field" style="margin: 1.5vh auto;">
            <strong>{{form_field.label_tag}} </strong>{{ form_field }}
            {% if form_field.help_text %}
            <p style="color: blueviolet;" class="help">{{ form_field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <button style="margin: 2vh auto;width: max-content;" type="submit">Login</button>
    </form>
</div>
{% endblock %}
