{% extends 'base.html' %}

{% block content %}
<div class="grid-container">

    <div class="tools-bar grid-item">
        <div class="file-ctrl-cl tool-col">
            <img class="previous" src="../static/Left-chevron-25px.svg" width="25px" height="25px" alt="Précédent">
            <p class="file-index-p"> <span id="file-index">0</span> sur {{file_list_len}}</p>
            <img class="next" src="../static/Right-chevron-25px.svg" width="25px" height="25px" alt="Suivant">
        </div>

        <div class="text-ctrl-cl tool-col">
            <button onclick="zoom_out()">
                <h2 class="zoom-out">T-</h2>
            </button>
            <input type="number" min="1" max="60" name="text-size" id="text-size">
            <button onclick="zoom_in()">
                <h2 class="zoom-in">T+</h2>
            </button>
            <input type="search" name="text-search" id="text-search" placeholder="Rechercher un terme" incremental>
        </div>
        <div class="annotation-cl tool-col">
            <div class="add-remove-tab">
                <img onclick="addDemande()" src="../static/add_circle-24px.svg" alt="Ajouter demande">
                <img onclick="removeDemande()" src="../static/remove_circle-24px.svg" alt="Supprimer demande">
            </div>
            <div class="tab">
                <ul id="tabs-items">
                    <li class="tab-item">
                        <button onclick="selectTab(event)">
                            Infos générales</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="annotate-navigation grid-item">

        <h3 class="navigation"> Navigation</h3>
        <div class="files-list">
            <ul class="files-list">
                {% for file in files %}
                <li data-link="read/{{file}}" class="file-link">
                    <!-- <li data-link="{{root_path}}/{{file}}" class="file-link"> -->
                    {{file}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="decision-container grid-item">
        <p id="file-contents">Aucun fichier n'est sélectionné</p>
    </div>
    <div class="annotation-container grid-item">

        <div id="tabs-contents">
            <div id="infos" class="tab-content">

                <form action="/annotate/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{infos.as_p}}
                    <button type="submit"
                        style="font-weight: 500; font-size: 1.1rem; margin-top: 2vh;">Sauvgarder</button>
                </form>
                <div class="cached t">
                    <form action="/annotate/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{decision.as_p}}
                        <p>hrrrr</p>
                        <button type="submit"
                            style="font-weight: 500; font-size: 1.1rem; margin-top: 2vh;">Save</button>
                    </form>
                </div>
            </div>
            <div id="tab_navigation">
                <ul>
                    {% for tab in tabs %}
                    <li class="{{ tab.tab_classes|join:' ' }}{% if tab.tab_id == current_tab_id %} active{% endif %}">
                        <a href="/templates/{{ tab.tab_id }}/" {%if tab.tab_rel %}rel="{{ tab.tab_rel }}" {% endif %}>
                            {% if tab.tab_counter %}<em>{{ tab.tab_counter }}</em>{% endif %}
                            {{ tab.tab_label }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
