{% extends 'base.html' %}

{% block content %}
<div class="grid-container">

    <div class="tools-bar grid-item">
        <p>tools : zoom in/out, copy text parts ...</p>
    </div>
    <div class="annotate-navigation grid-item">

        <h3 class="navigation"> Navigation</h3>
        <div class="files-list">
            <ul>
                {% for file in files %}
                <li data-link="read/{{file}}" class="file-link">
                    <!-- <li data-link="{{root_path}}/{{file}}" class="file-link"> -->
                    {{file}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="decision-container grid-item">
        <p id="file-contents">Aucun fichier n'est sélectionné</p>
    </div>
    <div class="annotation-container grid-item">
        <p>annotator fields</p>
    </div>
</div>
{% endblock %}
