{% extends 'base.html' %}

{% block content %}
<div class="grid-container">

    <div class="tools-bar grid-item">
        <div class="file-ctrl-cl tool-col">
            <img class="previous" src="../static/Left-chevron-25px.svg" width="25px" height="25px" alt="Précédent">
            <p class="file-index-p"> <span id="file-index">0</span> sur {{file_list_len}}</p>
            <img class="next" src="../static/Right-chevron-25px.svg" width="25px" height="25px" alt="Suivant">
        </div>

        <div class="text-ctrl-cl tool-col">
            <button onclick="zoom_out()">
                <h2 class="zoom-out">T-</h2>
            </button>
            <input type="number" min="1" max="60" name="text-size" id="text-size">
            <button onclick="zoom_in()">
                <h2 class="zoom-in">T+</h2>
            </button>
            <input type="search" name="text-search" id="text-search" placeholder="Rechercher un terme" incremental>
        </div>
        <div class="annotation-cl tool-col">
            <div class="add-remove-tab">
                <img src="../static/add_circle-24px.svg" alt="Ajouter demande">
                <img src="../static/remove_circle-24px.svg" alt="Supprimer demande">
            </div>
            <div class="tab">
                <ul id="tabs-items">
                    <li class="tab-item">
                        <button onclick="selectTab(event)">
                            Infos générales</button>
                    </li>
                    <li class="tab-item">
                        <button onclick="selectTab(event)">décision
                            1</button>
                    </li>
                    <li class="tab-item">
                        <button onclick="selectTab(event)">décision
                            2</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="annotate-navigation grid-item">

        <h3 class="navigation"> Navigation</h3>
        <div class="files-list">
            <ul class="files-list">
                {% for file in files %}
                <li data-link="read/{{file}}" class="file-link">
                    <!-- <li data-link="{{root_path}}/{{file}}" class="file-link"> -->
                    {{file}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="decision-container grid-item">
        <p id="file-contents">Aucun fichier n'est sélectionné</p>
    </div>
    <div class="annotation-container grid-item">

        <div id="tabs-contents">
            <div class="tab-content">
                <p id="infos-gene-content">Infos générales content</p>
            </div>
            <div class="tab-content">
                <p id="dec1">décision 1 content</p>
            </div>
            <div class="tab-content">
                <p id="dec2">décision 2 content</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
