{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if request.user.is_staff %}
<div class="organize-container grid-container-org">

    <div class="research-container-org grid-item-org">
        <div class="reaserch-keys-container">
            <div class="key-row-1">
                <input id="key-1" type="text" size="40" placeholder="mot clé" required>
                <select name="key-word-type-1" title="Choisir un opérateur logique" id="key-word-type-1">
                    <!-- <option value="gap"></option> -->
                    <option value="and">Et</option>
                    <option value="or">Ou</option>
                    <option value="except">Sauf</option>
                </select>
                <div class="add-remove-keyword-1">
                    <img id="add-key-1" onclick="addKey()" src="../static/add_circle-24px.svg" alt="Add key word"
                        title="Ajouter un mot clé">
                </div>
            </div>
        </div>
        <button onclick="searchKeyWord()" id="search-key-word-btn" type="submit">Chercher</button>
    </div>
    <div class="navigation-container-org grid-item-org">
        <!-- onclick="annotate(this)" -->
        <button id="move-to-btn" style="width:auto" type="submit"> <a id="annotate-organize" href="/annotate"
                style="color: #fff;text-decoration: none; cursor: pointer;">Annoter</a></button>
        <img id="home-dir" onclick="loadHome()" src="../static/home-24px.svg" title="Aller au racine"
            alt="{{dirpaths}}">
        <input id="dirs-only" type="hidden" name="{{dirs_only}}">
        <div class="dir-manager">
            <img id="create-folder" onclick="addDir()" src="../static/create_new_folder-24px.svg"
                title="Créer un nouveau répertoire" alt="Create new Folder">
            <div style="display: none;">
                <img id="rename-folder" src="../static/rename_folder.svg" title="Renommer un répertoire"
                    alt="Rename Folder">
                <img id="delete-folder" src="../static/delete_folder-24px.svg" title="Supprimer un répertoire"
                    alt="Delete Folder">
            </div>
        </div>
    </div>
    <div class="files-container-org grid-item-org">
        <div class="research-result-container">
            <button id="move-to-btn" onclick="moveFiles()" style="width:auto" type="submit">Déplacer</button>
            <div class="tous">
                <input type="checkbox" name="all-files" id="all-files">
                <label style="margin-left: 1vh;" for="all-files">Sélectionner tous</label>
            </div>
        </div>
        <ul id="myUL">
        </ul>
        <div class="search-result-hider">
            <div style="overflow-y: auto; padding: 2vh;" class="dirs-ul-container">
                <ul id="dirs-ul">
                </ul>
            </div>
            <div style="overflow-y: auto; padding: 2vh;" class="files-result-ul-container">
                <ul id="files-result-ul"></ul>
            </div>
        </div>
    </div>
</div>
{% else %}
<h1 style="color: rgb(255, 123, 0); background-color: aquamarine; height: 100%; text-align: center;">Votre compte
    est en
    phase de création, merci pour votre patience.</h1>
{% endif %}
{% else %}
<h1 style="color: red; background-color: aquamarine; height: 100%; text-align: center;">Merci de s'identifier puis
    revenir</h1>
{% endif %}
{% endblock %}
