{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if request.user.is_staff %}
<div class="organize-container grid-container-org">

    <div class="research-container-org grid-item-org">

    </div>
    <div class="navigation-container-org grid-item-org">
        <img id="home-dir" onclick="loadHome()" src="../static/home-24px.svg" title="Aller au racine"
            alt="{{dirpaths}}">
        <div class="dir-manager">
            <img id="create-folder" onclick="addDir()" src="../static/create_new_folder-24px.svg"
                title="Créer un nouveau répertoire" alt="Create new Folder">
            <img id="rename-folder" src="../static/rename_folder.svg" title="Renommer un répertoire"
                alt="Rename Folder">
            <img id="delete-folder" src="../static/delete_folder-24px.svg" title="Supprimer un répertoire"
                alt="Delete Folder">
        </div>
    </div>
    <div class="files-container-org grid-item-org">

        <ul id="myUL">
        </ul>
    </div>
</div>
{% else %}
<h1 style="color: rgb(255, 123, 0); background-color: aquamarine; height: 100%; text-align: center;">Votre compte
    est en
    phase de création, merci pour votre patience.</h1>
{% endif %}
{% else %}
<h1 style="color: red; background-color: aquamarine; height: 100%; text-align: center;">Merci de s'identifier puis
    revenir</h1>
{% endif %}
{% endblock %}
