{% extends 'base.html' %}

{% block content %}
<div class="upload-container">

    <form action="/upload/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" style="font-weight: 500; font-size: 1.1rem; margin-top: 2vh;">Uploader</button>
    </form>
    <script>
        /* files = document.querySelector("#file_input").files;
        document.querySelector("#file_input").addEventListener("change", function () {
            files = document.querySelector("#file_input").files;
            let directories = {}
            for (let file of files) {
                file.webkitRelativePath
                directories[file.name] = file.webkitRelativePath
            }
        }); */
    </script>
</div>
{% endblock %}
